{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

    <html>
    <head>
        <meta charset="UTF-8">
        <title>Below is the list of customers !!</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    </head>
    <body>
    <style>
        body {
            background-color: lightseagreen;
        }
    </style>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="panel panel-primary">
                    <div class="panel-heading">Welcome!</div>
                    <div class="panel-body">
                        Healthcare Management System.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <h2 style="padding-left: 15Px">Customer Details</h2>
    </div>
    <div>
        <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr class="bg-info">
                <th>Customer Name</th>
                <th>Insurance Number</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Data Of Birth</th>
                <th>Address</th>

                <th colspan="3">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for customer in Customers %}
                <tr>
                    <td>{{ customer.cust_name }}</td>
                    <td>{{ customer.insurance_number }}</td>
                    <td>{{ customer.email }}</td>
                    <td>{{ customer.phone_number }}</td>
                    <td>{{ customer.dob }}</td>
                    <td>{{ customer.address }}</td>
                    <td><a href="{% url 'blog:customer_edit' pk=customer.pk %}" class="btn btn-warning">Edit</a>
                    <td><a href="{% url 'blog:customer_delete' pk=customer.pk %}"
                           onclick="return confirm('Are you sure you want to delete?')"
                           class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
    </body>
    </html>
{% endblock %}