{% extends 'blog/base.html' %}
{% load staticfiles %}
{% block content %}
            <body style="background-color:#D3D3D3;">
            {% if user.is_authenticated %}
               {% endif %}
                <div class="page-container">

                    <h2 class="top-menu">Hello {{ user.username }},</h2>
                    <br/>
                    <br/>

                </div>

            <div class="content container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="links">
                            <!-- Example row of columns -->
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="thumbnail">
                                        <img src="{% static "images/customer.jpg" %}" alt="customer" style="width:500px;height:250px"/>
                                        <div class="caption">
                                            <h3>Customer Management</h3>
                                            <p><a class="btn btn-primary" href="{% url 'blog:customer_list' %}"
                                                  role="button">View Customers &raquo;</a></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="thumbnail">
                                        <img src="{% static "images/provider.jpeg" %}" alt="provider" style="width:500px;height:250px;"/>
                                        <div class="caption">
                                            <h3>Provider Management</h3>
                                            <p><a class="btn btn-primary" href="{% url 'blog:provider_list' %}"
                                                  role="button">View Providers &raquo;</a></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="thumbnail">
                                        <img src="{% static "images/claim.jpg" %}" alt="claim" style="width:500px;height:280px;"/>
                                        <div class="caption">
                                            <h3>Claim Management</h3>
                                            <p><a class="btn btn-primary" href="{% url 'blog:claim_list' %}"
                                                  role="button">View Claims &raquo;</a></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="thumbnail">
                                        <img src="{% static "images/appointment.jpg" %}" alt="appointment" style="width:500px;height:250px;"/>
                                        <div class="caption">
                                            <h3>Appointment Management</h3>
                                            <p><a class="btn btn-primary" href="{% url 'blog:appointment_list' %}"
                                                  role="button">View Appointments &raquo;</a></p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </body>
{% endblock %}